<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/users/create}" th:object="${user}" method="post">
    <label for="firstName">first name</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <br/>
    <label for="lastName">last name</label>
    <input type="text" th:field="*{lastName}" id ="lastName">
    <br/>
    <input type="submit" value="Create User">
</form>
</body>
</html>